.div1 {
    width: 400px;
    height: 200px;
    background-color: lightblue;
    border: 5px solid black;
    padding: 20px;
    margin: 15px;

    text-align: center;
    box-shadow: 20px 20px 30px gray;
   
}


