    .practice2 {
        font-family: 'Courier New', monospace;
        margin: 20px;
        padding: 20px;
        border: 2px solid gray;
        border-radius: 10px;
        background-color: lightyellow;
    }
    .task2 {
        color: darkorange;
        text-align: center;
        font-size: 100px;
       
        
    }
    
    .div1, .div2 {
        margin: 10px;
        padding: 10px;
        border: 1px dashed blue;
        background-color: lightblue;
    }
    .list{
        border: 4px solid black;
        border-radius: 5px;
        width: 300px;
        background-color: chartreuse;
        box-shadow: 10px 10px 10px darkgray;
    }

    span{
        border: 2px solid cadetblue;
    }
