header{
    background-color: lightblue;
    padding: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 20px;
}
img{
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin: 0 20px;
}

h1{
    font-size: 36px;
    color: rgb(217, 109, 15);
}
h2{
    font-size: 28px;
    color: rgb(15, 92, 217);
}
button, a{
    color: #000;
    padding: 10px 20px;
    font-size: 18px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
button:hover, a:hover{
    background-color: red;
    color: #fff;
}